body, button {
	/* system font */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
	margin: 0;
	box-sizing: border-box;
}

html, body, div#app {
	height: 100%;
}

main {
	background: linear-gradient(#300 0%, #200 100%);

	color: white;
	/*border: 1px solid red;*/
	height: 100%;

	.player {
		/*border: 1px solid blue;*/
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 2rem;
		right: 2rem;
		text-align: center;

		button {
			line-height: 40px;
			font-size: 24px;
			padding: 1rem 2rem;
			margin: 1rem;

			/* reddish white background */
			background: #ff2d2d;

			border: none;
			border-radius: 100px;
			color: #400;
		}
	}
}

