body, button {
	/* system font */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
	margin: 0;
	box-sizing: border-box;
}

html, body, div#app {
	height: 100%;
}

/* selection color black on red */
::selection {
	color: #fee;
	background: #e00;
}

main {
	background: linear-gradient(#300 0%, #200 100%);

	color: white;
	/*border: 1px solid red;*/
	height: 100%;

	.player {
		/*border: 1px solid blue;*/
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 2rem;
		right: 2rem;
		text-align: center;

		button {
			line-height: 40px;
			font-size: 24px;
			padding: 1rem 2rem;
			margin: 1rem;

			/* reddish white background */
			background: #ff2d2d;

			border: none;
			border-radius: 100px;
			color: #400;

			&.small {
				line-height: 20px;
				font-size: 20px;
			}
		}
	}
}

#oscilloscope {
	width: 100%;
	z-index: -1;
}

.hidden {
	opacity: 0;
	transition: opacity 0.5s;
	/* ignore pointer events */
	pointer-events: none;
}

.fancy-text {
	font-size: 32px;
	font-weight: 500;

	line-height: 1.4;

	span {
		opacity: 0;
		color: red;
		transition: opacity 0.1s, color 0.5s;

		&.visible {
			opacity: 1;
			color: white;
		}
	}

	button.small {
		margin-bottom: 1rem;
	}

	span.links {
		font-size: 16px;
		a {
			text-decoration: none;
			color: red;
			border-bottom: 1px solid red;
		}

		/*&.detailed {*/
		/*	opacity: 1;*/
		/*}*/
	}
}

#oscilloscope {
	/*border: 1px solid red;*/
}

/* media phone size */
@media (max-width: 600px) {
	.fancy-text {
		font-size: 24px;
		/*border: 1px solid red;*/
	}
}

